<p>
    人が成果を上げている、新しいことを試している、挑戦している、
    そのようなものを日々目にすると、焦ってしまいます　
    そちらに引っ張られて動かないと動かないと・・・といって四方八方に意識が散ってしまうような感覚を覚えます。
    SNSを見ますが、そこではその回数が目まぐるしい。<br>
    そこで、ひたひたと・・・と唱えることで、自身の中に「自身のやりたいことを
    自身のペース・やり方でやる」という意識を芽生えさせることができます。
</p>

<p>
    そんな、ひたひたと活動することに決めた米田ときむらのチームが「HitaHita」です。
</p>

<p>
    そして、HitaHitaが打ち出すオーディオビジュアルイベント「Flow」は
    パフォーマンスを行う人、そのパフォーマンスを見る人を含めた
    場全体でひたることを目指します。
</p>

<p>
    それぞれがひたる音や映像は様々です。<br>
    そして、私たちはそれらをどれも拒みません。
</p>

<p>
    vol.1とvol.2に引き続き、vol.3は
    <span class="mx-2">立命館大学テラスゲート</span>にて開催させていただきます。<br>
    多くの音や映像を吸収しながらもなかなか自らが放出する場のなかった学生が
    自分なりにひたり、パフォーマンスする。そして、その場にいる全員が同じ音と映像でひたる。
</p>

<p>
    そんな空間に、ぜひ遊びに来てください。
</p>

<style>
    p{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>