<p>
    新年、あけましておめでとうござます。
</p>
<p>
    本年もHitaHitaならびにFlowをよろしくお願いいたします。
</p>
<p>
    さて、そんな年始早々に開催させていただくFlowですが、この度Flowで度々お世話になっていた方々を正式に運営として迎えまして、新生Flow運営が誕生しました！めでたい！
</p>
<p>
    運営のみなさんの力で、音や光などの演出などをより一層高めていきたいと思っている次第です。今後とも、Flowをよろしくお願いいたします。
</p>
<p>
    このwebサイトも正にその運営メンバーであるsbmさん制作のもと、vol.3からアップデート！3Dオブジェクトがくるくる回転するようになりました。webサイトは本当に作るのが大変なもので、作っていただいた上におもしろ技術まで乗っけていただいて、マシマシの次郎系ラーメンを年始からいただいている、そんな年始でございます。
</p>
<p>
    さて、そんな運営についてのご報告もさておき、FLow vol.4 では大学や所属の幅を超えた様々な方にご出演いただき、たくさんのコラボを実現することができました！
</p>
<p>
    これはひとえにFlowを支えてくださっている皆様のおかげです。
</p>
<p>
    このコラボにより、より様々なジャンルの音や映像にひたることができるイベントにパワーアップしたのではないかと思います。
</p>
<p>
    ぜひ、新年のテラスゲートで、音と映像にひたりに来てください。
</p>
<p>
    良い一年になることをお約束します。
</p>
<style>
    p{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>