<p>
    お世話になっております。Fellow のきむらです。
</p>

<p>
    この度、Flowは運営チームをFellowに改めさせていただくこととなりました。<br />
    これまでHitaHitaで運営してきたFlowでしたが、有難いことにイベントへ参加いただける方も多くなり、運営チームとしてFellowを結成させていただいた運びになります。
</p>

<p>
    Fellow は以下のメンバーで構成されたチームになります。
    HitaHita・vein・こん・sbm・nanokame
</p>

<p>
    運営チームを改めて、今後更にFlowは音や映像に浸れるイベントとしてパワーアップしていきますので、引き続きよろしくお願いいたします！
</p>

<p>
    さて、そして新たな体制で挑ませていただくFlow vol.5にはゲストとしてin the blue shirt の有村さんにお越しいただけることとなりました。
</p>

<p>
    私(きむら)がHitaHitaを結成し、活動してからちょうど1年頃になり、オーディオビジュアルパフォーマンスを行い、関心を持ち始めてからもそのくらいになるのですが、この期間さまざまなライブやクラブに接するにあたって、関西のオーディオビジュアルの盛り上がりをとても感じました。
</p>

<p>
    また、私のみる関西のオーディオビジュアルシーンには、それぞれが自分の好きな音楽や映像を楽しみきる、広げる、そんな空気を感じでいます。
</p>

<p>
    そんなシーンの中におられる有村さんにお越しいただけること、非常に嬉しく思っています。
</p>

<p>
    ぜひ、たくさんのご来場をお待ちしております。<br />
    そして、それぞれが音や映像にひたる空間を一緒に作りましょう。
</p>

<style>
    p{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>