---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro';

import Container from '../layouts/Container.astro'
---

<Layout
	title="Flow Volume 3"
	desc="HitaHitaによるオーディオビジュアルパフォーマンスイベント、FLOWのウェブページ"
	favicon='/favicon.ico'
	>
	<main>
		<!-- TITLE -->
		<div class="fullWid min-h-screen flex justify-center items-center flex-col">
			<h1 class="m-0 bg-slate-950">
				<img src="https://placehold.jp/600x320.png" alt="">
			</h1>
		</div>

		<!-- BACKNUMBERS -->
		<Container>
			<div class="grid grid-cols-3 md:grid-cols-2 gap-4">
				<Card
				title='Vol.1'
				body='FLOW volume 1'
				href='#'
				>

				</Card>

				<Card
				title='Vol.2'
				body='FLOW volume 2'
				href='#'
				>

				</Card>

				<Card
				title='Vol.3'
				body='FLOW volume 3'
				href='#'
				>

				</Card>
			</div>
		</Container>
	</main>
</Layout>