---
import Layout from '../layouts/Layout.astro'
import IconCard from '../components/IconCard.astro'

---

<Layout
    title="Flow"
	desc="Fellowによるオーディオビジュアルパフォーマンスイベント、FLOWのウェブページ"
	favicon='/favicon.ico'
	>

    <main class="font-nijimi text-white min-h-screen">
        <div class="inner min-h-screen h-full mx-5 xl:mx-56">
            <h1 class="m-0 flex flex-col items-center">
                <img class="flicker w-1/2" src="/images/Flow_Logo_Large.webp" alt="FLOWのロゴ">
            </h1>
            <div class="linkGrid grid grid-cols-1 md:grid-cols-2 gap-x-5 gap-y-3">
                <IconCard
                    iconName='fa7-brands:youtube'
                    title='Flow 公式YouTubeチャンネル'
                    body='Flowの公式YouTubeチャンネルです。公開されている各回のアーカイブを閲覧できます。'
                    href='https://www.youtube.com/@fellow.flow.2025'
                />
                <IconCard
                    iconName='fa7-brands:x-twitter'
                    title='Flow 公式Twitter'
                    body='Flowの公式Twitterです。開催情報をはじめ関連する情報を発信中！'
                    href='https://x.com/flow_fellow/'
                />
                <IconCard
                    iconName='fa7-brands:instagram'
                    title='Flow 公式Instagram'
                    body='Flowの公式Instagramです。開催情報をはじめ関連する情報を発信中！'
                    href='https://www.instagram.com/flow._.fellow/'
                />
                <IconCard
                    iconName='fa7-brands:discord'
                    title='Flow 公式Discordサーバー'
                    body='Flowの公式Discordサーバーです。より細かく、Flowに関する情報を発信します！'
                    href='https://discord.gg/XCqhqjks9c'
                />
            </div>
        </div>
    </main>

</Layout>

<style>
    .inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        row-gap: 100px;
    }
</style>