--- 
interface Props{
    upper: string;
    lower: string;
}

const { upper, lower } = Astro.props;
---

<ul class="text-end my-2">
    <li class="text-3xl font-bold">{upper}</li>
    <li class="text-lg">{lower}</li>
</ul>