<div>
    <h2 class="text-xl">HitaHitaとは</h2>
    <p class="my-4">
        HitaHitaは きむらこうや & 米田菜々穂 のチームです。<br />
        VJ や DJ , クリエイティブコーディングなどの活動を幅広く行っています。<br />
        ぜひ、こちらのページからご覧ください。
    </p>
    <a href="https://hita-hita.notion.site/HitaHita-cf92f88d0cde45b4b48da76bca617f47">HitaHita</a>
</div>

<style>
    a{
        border-bottom: 1px dashed gray;
        padding: 2px 3px;
    }
</style>