---
import { Icon } from "astro-icon/components";

interface Props{
    url: string,
    iconName: string
}

const { url, iconName } = Astro.props
---

<a href={url} class="flex justify-center">
    <Icon name={iconName} class="w-1/6 h-auto max-w-8" />
</a>