---
interface Props {
	title: string;
	body: string;
	href: string;
	dark?: boolean;
}

const { href, title, body, dark } = Astro.props;
---

<div class="link-card" class:list={dark ? "dark" : ""}>
	<a href={href}>
		<h2 class="text-lg mb-3">
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</div>

<style>
	.link-card{
		transition: all;
		transition-duration: 200ms;

		padding: 20px;
		border: 1px dashed #aaa;
		border-left: none;
		border-top: none;
	}
	
	.link-card:hover, .link-card:active{
		border-color: #eee;
	}

	.dark{
		border-color: rgb(15 23 42);
	}
</style>
