---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</div>
<style>
	.link-card{
		transition: all;
		transition-duration: 200ms;

		padding: 20px;
		border: 1px dashed #aaa;
		border-left: none;
		border-top: none;
	}

	.link-card:hover, .link-card:active{
		border-color: #eee;
	}
</style>
